<div class="row ml-1">
  <%= render "layouts/messages" %>
</div>

<% if @stock %>   
  <div class="card card-title bg-light inline-text">
    <strong>Stock name: </strong><%= @stock.name %>.
    <strong>Ticker Symbol: </strong><%= @stock.ticker %>.
    <strong>Price: </strong><%= @stock.price %>.
  </div>
  <% if current_user.can_track_stock?(@stock.ticker) %>
    <%= link_to 'Add stock to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post, class: "btn btn-success inline-text" %>
  <% end %>  
<% end %>

<% if @friends %>   
  <% @friends.each do |friend| %>
    <% unless friend.id == current_user.id %>
      <div class="card card-title bg-light inline-text">
        <strong>Email: </strong><%= friend.email %>.
        <strong>Name: </strong><%= friend.full_name %>.
      </div>
      <% unless current_user.friends.include?(friend) %>
        <%= link_to "Follow #{friend.full_name}", friendships_path(user_id: current_user, friend_id: friend.id), method: :post, class: "btn btn-success inline-text" %>
      <% end %>
    <% end %>  
  <% end %>     
<% end %>
