<div class="row ml-1">
  <%= render "layouts/messages" %>
</div>

<% if @stock %>   
  <div class="card card-title bg-light inline-text">
    <strong>Stock name: </strong><%= @stock.name %>.
    <strong>Ticker Symbol: </strong><%= @stock.ticker %>.
    <strong>Price: </strong><%= @stock.price %>.
  </div>
  <% if current_user.can_track_stock?(@stock.ticker) %>
    <%= link_to 'Add stock to portfolio', user_stocks_path(ticker: @stock.ticker), method: :post, class: "btn btn-success inline-text" %>
  <% end %>  
<% end %>

<% if @friends %>   
  
    
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= 'Email' %></th>
            <th scope="col"><%= 'User Name' %></th>
            <th scope="col"><%= 'Action' %></th>
          </tr>
        </thead>
        <tbody>
          <% @friends.each do |friend| %>
            <tr>
              <th scope="row"><%= friend.email %></th>
              <td><%= friend.full_name %></td>
              <td>
              <% unless current_user.friends.include?(friend) || current_user.id == friend.id %>
                <%= link_to "Follow #{friend.full_name}", friendships_path(friend_id: friend.id), method: :post, class: "btn btn-success inline-text" %></td>
              <% end %>
            </tr> 
          <% end %>    
        </tbody>
      </table> 
    
         
<% end %>
